data/*/pkls/
data/*/bins/
data/*/tmp/
out-jam-context/
data/*/__pycache__
__pycache__
wandb
gpt/openai.key
gpt/funcom/*
data/participant_holdout_context/context*/tmp/
data/participant_holdout_context/context*/bins/
data/participant_holdout_context/context*/pkls/
data/participant_holdout_context/context*/*.bin
data/participant_holdout_context/context*/testset/
data/participant_holdout/participant*/tmp/
data/participant_holdout/participant*/bins/
data/participant_holdout/participant*/pkls/
data/participant_holdout/participant*/testset/
data/participant_holdout/participant*/*.bin
data/method_holdout_context/context*/tmp/
data/method_holdout_context/context*/bins/
data/method_holdout_context/context*/pkls/
data/method_holdout/method*/bins/
data/method_holdout/method*/tmp/
data/method_holdout/method*/pkls/
data/method_holdout/method*/pkls/
data/method_holdout/method*/*.bin
data/method_holdout_context/context*/*.bin
test_nosum/
train_withsum/
*.tar.gz
data/method_holdout_context/context*/summary/
data/method_holdout_context/context*/testset/
predictions/
data/method_holdout_context/context_continue/contextsum_train_all_gpt35filtered_progress.pkl
gemini/gemini.key
data/method_holdout/method*/
gpt/*.pkl
gemini/*.pkl
metrics/
